:root {
  --wh-border-width: 4px;
  --wh-border-radious: 8px;
  --wh-background-opacity: 25%;
  --wh-default-background: hsl(
    from var(--background-surface-high) h s l / 100%
  );
  --wh-always-show-suppress-embed-button: 0;
}

._623de82e76ad7f82-embedFull {
  overflow: hidden;
  border-left-width: 0px !important;
  padding-left: 4px;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  position: relative;
  border-radius: var(--wh-border-radious);
}

._623de82e76ad7f82-embedFull ._623de82e76ad7f82-embedSuppressButton {
  opacity: calc(1 * var(--wh-always-show-suppress-embed-button)) !important;
  top: var(--wh-border-width);
  right: var(--wh-border-width);
  z-index: 10;
  color: white;
  position: absolute;
}

._623de82e76ad7f82-embedFull::before {
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  border: inherit;
  border-left-width: 100vw;
  box-sizing: border-box !important;
  z-index: 1;
  border-radius: var(--wh-border-radious);
}

._623de82e76ad7f82-embedFull::after {
  content: "";
  position: absolute;
  background: hsl(
    from var(--background-surface-high) h s l /
      calc(100% - var(--wh-background-opacity))
  );
  border-radius: var(--wh-border-radious);
  top: var(--wh-border-width);
  left: var(--wh-border-width);
  right: var(--wh-border-width);
  bottom: var(--wh-border-width);
  z-index: 2;
}

._623de82e76ad7f82-embedFull ._623de82e76ad7f82-gridContainer {
  z-index: 3;
}

._60fa37e32e965e54-withAccentColor::before {
  display: none;
}

._60fa37e32e965e54-withAccentColor {
  background: color-mix(
    in oklch,
    hsl(from var(--background-surface-high) h s l / 100%),
    var(--__accent-color) var(--wh-background-opacity)
  );
  border: 4px solid var(--__accent-color);
  border-radius: var(--wh-border-radious);
}