[class*='_59d0d7075b521375-layerContainer'] [class*='_084343c4f11eaaab-positionLayer'] {
    height: 100% !important;
    [class*='_084343c4f11eaaab-drawerSizingWrapper'] {
        top: 3.5em !important;
        height: calc(100% - 6em)
    }
}