/**
 * @name Shrinking/Growing Friends List
 * @description A Nice layout for the friends tab
 * @author 0pyr
 * @version 1
 * @authorId 277851641976324096
 * @authorLink https://0pyr.cfd/
*/

._5ec2fb8b5de26b21-peopleList >div {
display: flex;
flex-wrap: wrap;
margin: 0px 0px 0px 16px;
._5ec2fb8b5de26b21-sectionTitle {
    width: 100%;
    >h2.title__1472a {
margin-left: 0px;
    }
}
.cc61794aab086a2e-peopleListItem {
    margin: 0px!important;
    width: calc(100% / var(--friend-row-amount));
    overflow: visible;
}
.f4bc976213b83e68-infoSpacing {
    display: none;
}
}